<ion-header style="background-color: khaki;">
  <ion-toolbar>
    <ion-title style="font-size: x-large; color: blue;">Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Log in</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label style="color:blue;">Username</ion-label>
      <ion-input placeholder="username" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color: blue">Password</ion-label>
      <ion-input id ="password" placeholder="password" type="password"></ion-input>
    </ion-item>

</ion-content>
