<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="x-large" >Direct Messages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>
    <ion-item *ngFor="let friend of friendsArr">
      <ion-avatar slot="start">
        <img src={{friend.imgSrc}}>
      </ion-avatar>
      <ion-label>
        <h2>{{friend.name}}</h2>
        <h3>Phone Number</h3>
        <p>{{friend.phoneNumber}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item *ngFor = "let friend of messages">
      <ion-avatar slot="start">
        <img src={{friend.img}}>
      </ion-avatar>
      <ion-label>
        <h2>{{friend.name}}</h2>
        <p>{{friend.recentConversation}}</p>
      </ion-label>
    </ion-item>