<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Sheeeeesh"></app-explore-container> -->
  <ion-item>
    <ion-label position="stacked">Make post </ion-label>
    <ion-textarea [(ngModel)]="currentInput" placeholder="Type something"></ion-textarea>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="addBlog()">Add Post</ion-button>
  <ion-list>
    <ion-list-header>
      Recent Posts
    </ion-list-header>


    <ion-item *ngFor="let cheese of blogs">
      <ion-label>
        <p>{{cheese}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>