<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-toolbar>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar></ion-searchbar>

  <ion-content>
    <ion-list>
      <ion-item>Amsterdam</ion-item>
      <ion-item>Bogota</ion-item>
      <ion-item>Buenos Aires</ion-item>
      <ion-item>Cairo</ion-item>
    </ion-list>

    <ion-app>
      <ion-content fullscreen class="ion-padding">

        <div class="featuredImage" style="display: table; height: 40%; width: 100%;">
          <h2 style="color: white; position:relative; bottom: -140px; ">Coachella</h2>
          <p style="color: white; position: relative; bottom: -135px; left: -35px; font-size: small;text-align: left;">
            The Coachella Valley Music and Arts
            Festival is an annual music and arts festival...</p>
        </div>
        <ion-slides [options] ="slideOpts">

          <ion-slide *ngFor="let event of featuredEvents">
            <img src={{event.img}} />
            <h2 class="headers">{{event.name}}</h2>
            <p class="paragraphs">{{event.date}}</p>
          </ion-slide>
        </ion-slides>
        <ion-slides [options] ="slideOpts">
          <ion-slide *ngFor="let event of sportsEvents" >
            <img src={{event.img}} />
            <h2 class="headers">{{event.name}}</h2>
            <p class="paragraphs">{{event.date}}</p>
          </ion-slide>
        </ion-slides>

        
        <!-- <div style="height:1000px;font-size:36px;">
          <h2>Popular events</h2>
          <ion-card *ngFor="let pizza of featuredEvents" style="width: 120px; height: 130px;;">

            <img src={{pizza.img}} stye="size: contain" />
            <p class="paragraphs">{{pizza.date}}</p>
            <p class="headers">{{pizza.name}}</p>
          </ion-card>


        </div> -->

      </ion-content>
    </ion-app>