
  .swiper-slide img {
    float: left;
    width:  250px;
    height: 170px;
    object-fit: cover;
    border-radius: 5%;
    margin: 10px 0 20px
  }

  // b {
  //   font-weight: 500;
  // }

  // p {
  //   padding: 0 40px;
  //   font-size: 14px;
  //   line-height: 1.5;
  //   color: var(--ion-color-step-600, #60646b);
  // }

  // p b {
  //   color: var(--ion-text-color, #000000);
  // }

  // .featuredImage {
  //   background-image: url("../../assets/coachella.jpeg");
  //   min-height: 200px; 
  //   background-position: top;
  //   background-attachment: fixed;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }
ion-toolbar {
  --background: linear-gradient(#92FE9D 0%, #00C9FF 100%);
  
}
#search {
  margin-top: 10%;
  --background: #ffffff;
}