<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-app>

  <ion-toolbar>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar></ion-searchbar>


  <ion-content>
    <ion-list>
      <ion-item>Amsterdam</ion-item>
      <ion-item>Bogota</ion-item>
      <ion-item>Buenos Aires</ion-item>
      <ion-item>Cairo</ion-item>
    </ion-list>
    <ion-app>
      <ion-content fullscreen>
        <ion-card style="height: 40%">
          <img style="object-fit: cover" src="../../assets/superbowl.1.jpeg" />
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;">Popular Events</ion-card-subtitle>
            <ion-card-title style="text-align: center;">Superbowl LIV</ion-card-title>
          </ion-card-header>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; bottom:70%">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; left: 70%; bottom: 70%">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-card>
        <ion-card style="height: 32%">
          <img style="object-fit: cover" src="../../assets/dodgers.jpeg" />
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;">Sport Events</ion-card-subtitle>
            <ion-card-title style="text-align: center;">Dodgers vs Marlins</ion-card-title>
          </ion-card-header>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; bottom: 75%">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; left: 70%; bottom: 75%">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-card>
        <ion-card style="height: 53%">
          <img style="object-fit: cover" src="../../assets/concert.1.jpeg" />
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;">Concerts</ion-card-subtitle>
            <ion-card-title style="text-align: center;">Bad bunny concert</ion-card-title>
          </ion-card-header>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; bottom: 65%">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onClick()" color="dark" size="small" style="position: relative; left: 70%; bottom: 65%">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-content>
    </ion-app>
  </ion-content>
</ion-app>
<!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->