<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen >
  
    <img src="../../assets/pfp4.jpg" id="pfp1" />
    <ion-card-header *ngFor = "let info of stuartLittle">
      <section>
        <ion-button id="button1" expand="full" color="secondary">Edit</ion-button>
      </section>
      <section><p></p></section>
      <ion-card-title class="text-align-center">{{info.name}}</ion-card-title>      
      <ion-card-subtitle class="text-align-center">{{info.tag}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <h1>
        Bio:
      </h1>
      <p>
        I'm currently living in LA, but I love traveling in California. I love attending Dodger and Laker games. I enjoy going to sport events, but I'm also willing to go festivals. I love having a good time, so please don't be afraid to hit me up. 😇
      </p>
      <br>
      <h1>
        Favorite sports teams: 
      </h1>
      <p>
        Dodgers, Lakers, Sacramento Kings, and Barcelona. 
      </p>
      <br>
      <h1>
        Favorite artists/bands: 
      </h1>
      <p>
        Ariana Grande, Justin Beiber, Kanye, and Skrillex. 
      </p>
    </ion-card-content>

</ion-content>