<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen >
  
    <img src="../../assets/pfp1.jpeg" id="pfp1" />
    <ion-card-header *ngFor = "let info of stuartLittle">
      <section>
        <ion-button id="button1" expand="full" color="secondary">Edit</ion-button>
      </section>
      <section><p></p></section>
      <ion-card-title class="text-align-center">{{info.name}}</ion-card-title>      
      <ion-card-subtitle class="text-align-center">{{info.tag}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      Bio: I like the go to Dodger games and I really like Boba #Boba4Life. 
    </ion-card-content>

</ion-content>