<ion-header>
  <ion-toolbar>
    <ion-title>Find a Group</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor = "let name of groups">
    <ion-avatar slot="start">
      <img src={{name.pfp}}>
    </ion-avatar>
    <ion-label>
      <h2><b>{{name.name}}</b></h2>
      <h3>{{name.numberOfPeople}}</h3>
      <h3>{{name.location}}</h3>
      <ion-button shape="round" class="messageButton" routerLink = "/group-info/" >More info</ion-button>
    </ion-label>
  </ion-item>

</ion-content>