
ion-toolbar {
    --background: linear-gradient(#92FE9D 0%, #00C9FF 100%);
    height: 110%;
  }
  #title {
    color: white;
    font-size: 25px;
    margin-top: 10px;
  }
  #messageSlot {
      border-width: 2px;
      border-color: #BBBAC6;
      border-style: solid;
      border-radius: 18px;
      margin: 5px 30px;
      margin-top: 50px;
      position: absolute;
      bottom: 10px;
      width: 85%;
      position: fixed;
      margin-bottom: 5%;
}
#sendIcon {
    float: right;
    margin-top: 20%;
    height: 25px;
    width: 25px;
    color: black;
}
ion-input {
     margin-left: 10px;
}
.messageBubbleGreen {
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 160px;
    background-color: #42E1D3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.messageBubbleBlue {
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 160px;
    background-color: #01C9FF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 190px;
}
.messageSpacing {
    margin-left: 10px;
    color: white;
}
ion-back-button {
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    width: 20px;
    height: 20px
}
ion-button {
    float: right;
    margin-right: 2%;
  
}