<ion-toolbar>
  <ion-title
    style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-content [fullscreen]="true">
    <ion-content class="ion-padding">
      <h1
        style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
        <b>Create Account,</b></h1>
      <p style="position: relative; bottom: 10px">Sign up to get started!</p>
    </ion-content>
    <ion-item style="position: relative; bottom: 80%">
      <ion-label position="stacked" style="font-size: 20px;">Name</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item style="position: relative; bottom: 80%">
      <ion-label position="stacked" style="font-size: 20px;">Email</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item style="position: relative; bottom: 80%">
      <ion-label position="stacked" style="font-size: 20px;">Age</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item style="position: relative; bottom: 80%">
      <ion-label position="stacked" style="font-size: 20px;">Password</ion-label>
      <ion-input placeholder="" type="password"></ion-input>
    </ion-item>
    <ion-item style="position: relative; bottom: 80%">
      <ion-label position="stacked" style="font-size: 20px;">Confirm Password</ion-label>
      <ion-input placeholder="" type="password"></ion-input>
    </ion-item>

  </ion-content>
</ion-content>
<section>
  <ion-button color="secondary" expand="block" style="position: relative; bottom: 300%">Sign up</ion-button>
</section>
<ionic-paragraph style="position: relative; bottom: 60px; left: 65px">Already have an account? Log in</ionic-paragraph>
