#log-inButton{
    width: 80%; margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#headLine{
    position: relative; 
    bottom: 60px; 
    left: 120px
}
#ForgotPassword{
    position: relative; 
    bottom: 330px; 
    left:125px
}
