<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title> Event Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="data != undefined">
    <img id="picture" src={{data.images[1].url}} />
   <ion-card-header> 
    <h1 style="font-size: 18px;">
      <ion-icon name="location-outline"></ion-icon>{{data._embedded.venues[0].name}}<br>
        <ion-icon name="calendar-outline"></ion-icon>{{data.dates.start.localDate}}
      
      <ion-button color="secondary" id="group" routerLink="/find-a-group/">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </h1>
      <section id="ex">

        <ion-button expand="block" color="secondary" routerLink="/find-a-buddy/">
          <ion-icon name="person-add" id="icon"></ion-icon>
          Find a buddy
        </ion-button>

      </section>

      <ion-card-title>Event Detials</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Category: {{data._embedded.attractions[0].classifications[0].genre.name}} <br>
      Date: {{data.dates.start.localDate}} <br>
      Name: {{data.name}} <br>
      Where: {{data._embedded.venues[0].name}}<br>     
       <!-- Info: {{data.pleaseNote}}<span id="moreText"></span> -->

      <!-- Details: {{data.info}}  For some reason this code only works on some events, and not all of them-->

    </ion-card-content>
</ion-content>
