<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> Event Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf = "data != undefined">
  <ion-card >
    <img src={{data.images[0].url}}/>
    <ion-card-header>
      <section>
        <ion-button id="button1" expand="full" color="secondary" routerLink = "/find-a-group/">Find a group</ion-button>
        <ion-button id="button2" expand="full" color="secondary" routerLink = "/find-a-buddy/">Find a buddy</ion-button>
      </section>
      
      <ion-card-subtitle>{{data.dates.start.localDate}}</ion-card-subtitle>
      <ion-card-title>{{data.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Where: {{data._embedded.venues[0].name}}<br>
      Category: {{data.classifications[0].segment.name}}
      <!-- Details: {{data.info}}  For some reason this code only works on some events, and not all of them-->



</ion-card-content>
  </ion-card>
</ion-content>